<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ Thống Quản Lý Sách</title>
    <!-- Nhúng file CSS tĩnh của Django -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <!-- Nội dung của các trang con (login, register) sẽ được tự động chèn vào đây -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>